<div id='todo-edit-{{this.id}}'>
  <form
    hx-put='/todos/{{this.id}}'
    class='flex items-center mb-4 justify-between gap-4'
    hx-target='#todo-edit-{{this.id}}'
    hx-swap='outerHTML transition: true'
  >
    <input
      class='w-3/4 rounded-sm text-black p-1'
      name='name'
      value='{{this.name}}'
    />
    <button
      type='submit'
      class='border-2 text-sm border-amber-500 p-2 rounded-md uppercase font-bold transition-all hover:bg-indigo-400 mr-2 hover:scale-105 w-1/4'
    >Save</button>
    <button
      class='border-2 text-sm border-neutral-500 p-2 rounded-md uppercase font-bold transition-all hover:bg-indigo-400 mr-2 hover:scale-105 w-1/4'
      hx-get='/todos/{{this.id}}?filter={{this.selectedFilter}}'
      hx-target='#todo-edit-{{this.id}}'
      hx-swap='outerHTML transition:true'
    >Cancel</button>
  </form>
</div>